### Sets

- Unordered sequence of elements
- create it by using {} or set()
- sets are immutable, iterable

In [1]:
#create empty set
s=set()
type(s)

set

In [2]:
# create set object of string values
s1={'Monday','Tuesday','Wednesday'}
s1

{'Monday', 'Tuesday', 'Wednesday'}

In [3]:
# create set object of list values
s2=set(['Jan','Feb',345])
s2

{345, 'Feb', 'Jan'}

In [4]:
# removes duplicates
s3={'Jan','Feb','Feb','Mar','Mar'}
s3

{'Feb', 'Jan', 'Mar'}

In [5]:
print(dir(s3))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [6]:
## add() method
# add element in s2
s2.add("Friday")
s2

{345, 'Feb', 'Friday', 'Jan'}

In [7]:
# update() method
s2.update(['Thurs','Dec'])
s2

{345, 'Dec', 'Feb', 'Friday', 'Jan', 'Thurs'}

#### remove the elements
- remove()
- pop()
- discard()

In [8]:
s2.remove(345)

In [9]:
s2

{'Dec', 'Feb', 'Friday', 'Jan', 'Thurs'}

In [11]:
s2.pop()

'Feb'

In [12]:
s2

{'Dec', 'Friday', 'Jan'}

In [13]:
s2.discard('Feb')

In [14]:
s2.remove('Feb')

KeyError: 'Feb'

In [ ]:
Difference : remove() and discard():discard() method remain unchanged if the element doen't exist
                                   remove() method will throw an error if the element doesn't exist

### List Comprehension

- single line for loop

- syntax: [expresion for if(optional)]

In [15]:
# list of square of elements
l=[1,2,3]
[i**2 for i in l]

[1, 4, 9]

In [16]:
cities=['Delhi','Bangalore','Mumbai','Hyderabad']
# create a list of elements which has length is greater than 6
[x for x in cities if len(x)>6]

['Bangalore', 'Hyderabad']

In [17]:
# create a list of elements which is greater than 5 in the given list l
l=[4,7,8,9,23,56]
[x for x in l if x>5]

[7, 8, 9, 23, 56]

In [18]:
# add value 5 to each element in the list l
[x+5 for x in l]

[9, 12, 13, 14, 28, 61]

### Hands-on-Problems

In [19]:
#Given a list of numbers, remove all odd numbers from the list:
numbers = [3,5,45,97,32,22,10,19,39,43]

In [20]:
#Given a list of numbers, remove floats (numbers with decimals)
original_list = [2,3.75,.04,59.354,6,7.7777,8,9]

In [ ]:
'''Create a list from the elements of a range from 1200 to 2000 with steps of 130,
using list comprehension.''

In [ ]:
#Using list comprehension, construct a list from the squares of each element in the list, 
#if the square is greater than 50.

Given dictionary is consisted of vehicles and their weights in kilograms. Contruct a list of the names of vehicles with weight below 5000 kilograms. In the same list comprehension make the key names all upper case.

d={"veh1":1000,"veh2":3000,"veh3":5000,"veh4":6000}

In [21]:
[x for x in numbers if x%2==0]

[32, 22, 10]

In [22]:
#[i for i in original_list if type(i)==int]
[i for i in original_list if type(i)!=float]

[2, 6, 8, 9]

In [23]:
[x for x in range(1200,2001,130)]

[1200, 1330, 1460, 1590, 1720, 1850, 1980]

In [24]:
list_1=[6,7,8,9,10,11]
[i**2 for i in list_1 if i**2>50]

[64, 81, 100, 121]

In [25]:
d={"veh1":1000,"veh2":3000,"veh3":5000,"veh4":6000}
[k.upper() for k in d if d[k]<5000]

['VEH1', 'VEH2']