Jupyter notebook file extension-->.ipynb

Run code--> shift+enter / ctrl +enter

## Python Fundamentals

### Heading cell
##### Python Fundamentals

**Basics in Python**

- Comments

- Variable

+ Keywords

* Constant

**Data types**

**Operators**

**Conditional statements & Looping strucutures**

**Data Structures**

#### Comments

#### Introduction to Python

In [1]:
# Introduction to Python

In [2]:
#multi line comments
'''This is the first line
This is the second line
This is the third line'''
a=5

#### Variable
- store a value

In [3]:
a=5

### pep 8 documentation

- Variable name should not start with digit.
- Variable name should not contain any special symbols except '_'

In [4]:
6b=10

SyntaxError: invalid syntax (1794405864.py, line 1)

In [ ]:
a$b=8

In [ ]:
a_b=9

- Python is case sensitive
- Python index starts from 0.

In [ ]:
A=10

In [ ]:
b=4;c=7;d=3

In [ ]:
b=c=d=10

#### Keywords

- reserved words (36 keywords)

- if , else, def, return, True, False, None, elif.....

#### Constant

In [ ]:
pi=3.14

In [ ]:
# output
a

In [ ]:
# output: The value of a is 5
print("The value of a is",a)

In [ ]:
print("The value of b is {}".format(b))

In [ ]:
print(f"The value of b is {b}")

In [ ]:
# output: The value of c is 78 and d is 11
c=78
d=11
print("The value of c is",c,"and d is",d)
print("The value of c is {} and d is {}".format(c,d))
print(f"The value of c is {c} and d is {d}")

#### Data types

- numeric (int, float)
- bool
- complex
- string

In [ ]:
#int
var1=12

In [ ]:
# type of a variable
type(var1)

In [ ]:
#float
var2=5.6

In [ ]:
type(var2)

In [ ]:
#bool
var3=True
type(var3)

In [ ]:
#complex
var4=3+4j
type(var4)

In [ ]:
#string
var5='Welcome'
type(var5)

In [ ]:
## add integer value and float value then check data type
v=var1+var2
type(v)

In [ ]:
F=23.67543
# round it into 2 decimal places

In [ ]:
# round(value, no of decimal places)
round(F,2)

In [ ]:
print('%.2f' % F)

In [ ]:
print('%.1f' % F)

#### input() function

In [ ]:
x=input()

In [ ]:
x

In [ ]:
type(x)

In [ ]:
y=int(input())

In [ ]:
type(y)

In [ ]:
y

# using input()--> Take input as integer value 5 to x and convert it into float data type
               --> Take input as char/string value'abc' to s
               --> Take input as float value 3.23490 to y and print the output as 3 decimal places.

In [5]:
x=int(input())
float(x)

6

6.0

In [6]:
s=input()

abc

In [7]:
y=float(input())
round(y,2)

3.23490

3.23

In [8]:
var_1= int(input())
var_2=int(input())
# Find the sum of var_1 and var_2
var_1+var_2

6
7

13

In [9]:
#python is case sensitive
Var_1

NameError: name 'Var_1' is not defined

In [10]:
# add integer and string object
# add 7 to Var_1
Var_1='All'
Var_1+7

TypeError: can only concatenate str (not "int") to str

In [11]:
Var_1+str(7)
#Var_1+'7'

'All7'

In [12]:
### Take multiple integer /float inputs using input()
input1=int(input())
input2=int(input())
input3=float(input())

4
5
8.9

In [15]:
#Take multiple string inputs using input()
s1,s2,s3=input().split(',')

a,b,c

In [16]:
s1

'a'

In [17]:
s1,s2,s3=input().split()

d e f

#### Statements and Expressions

An Expression is a sequence or combination of values, variables, operators and function calls that always produces or returns a result value.
– An Expression always evaluates (calculate) to itself.

 z = x + y
In the above example = and + are operators.

So, x + y is an expression.
Any Instruction that a python interpreter can execute (carry out) is called a Statement.

#### Whitespace
 Indentation: 4 white spaces--> block of code

### Operators 

Operators are used to perform operations on variables and values.OPERATORS: Are the special symbols. Eg- + , * , /, etc.

- Arithmetic operators
- Bitwise operators
- Boolean operators
- Assignment operators
- Relational operators
- Operators precedence

#### Arithmetic operators

Operator	Description	Syntax
+	          Addition: adds two operands	x + y
–	          Subtraction: subtracts two operands	x – y
*	          Multiplication: multiplies two operands	x * y
/	          Division (float): divides the first operand by the second	x / y
//	          Division (floor): divides the first operand by the second	x // y
%	          Modulus: returns the remainder when the first operand is divided by the second	x % y
**	          Power: Returns first raised to power second	x ** y

In [18]:
x=5
y=9

In [19]:
add=x+y
sub=x-y
mul=x*y
div1=x/y
div2=x//y
r=x%y
p=x**2

In [20]:
print(add);print(sub);print(mul);print(div1);print(div2);print(r);print(p)

14
-4
45
0.5555555555555556
0
5
25

#### Relational operators

Operator	                             Description	                                      Syntax
<	                               Less than: True if the left operand is less than the right	x < y
==	                               Equal to: True if both operands are equal	                x == y
!=	                               Not equal to – True if operands are not equal	            x != y
>=	                               Greater than or equal to: True if left operand is            x >= y
                                     greater than or equal to the right

In [21]:
a=100
b=50

In [22]:
a<b

False

In [23]:
a==b

False

#### Boolean operators
The logical operators and, or and not are also referred to as boolean operators

Operator	             Description	                                              Example
and	             Returns True if both statements are true	                     x < 5 and x < 10
or	             Returns True if one of the statements is true	                 x < 5 or x < 4
not	             Reverse the result, returns False if the result is true 	     not(x < 5 and x < 10)

In [24]:
#and --returns true if both conditions are true
a<5 and b>40

False

In [25]:
a>50 and b>40

True

In [27]:
#or --returns true if any one of the condition is true
a<5 or b>40

True

In [28]:
#not
c=0  # false statement
not c

True

In [29]:
not a

False

#### Assignment operators


Python Assignment Operators
Operator	                     Example	        Same As
+=	                              x += 3	     x = x + 3
-=	                              x -= 3	     x = x - 3
*=	                              x *= 3	     x = x * 3
/=	                              x /= 3	     x = x / 3

In [30]:
s=89
s+=5
s

94

#### Bitwise operators

In Python, bitwise operators are used to performing bitwise calculations on integers. The integers are first converted into binary and then operations are performed on bit by bit, hence the name bitwise operators

OPERATOR	       DESCRIPTION	SYNTAX

&	               Bitwise AND	x & y

|	               Bitwise OR	x | y

~	               Bitwise NOT	~x

#### Bitwise and (&)
- Returns 1 if both the bits are 1 else 0
#### Bitwise or (|)
- Returns 1 either of the bit is 1 else 0
#### Bitwise not (~)
- Returns one's complement--> 2's complement--> decimal

In [31]:
a=4
b=6

In [32]:
a & b

4

In [33]:
a | b

6

In [34]:
~ a

-5

PRECEDENCE:

P – Parentheses
E – Exponentiation
M – Multiplication     (Multiplication and division have the same precedence)
D – Division
A – Addition     (Addition and subtraction have the same precedence)
S – Subtraction

In [35]:
5+7*(3+8)
# 5+7*11
#5+77
#82

82

##### 1.Swapping two numbers
X=67
Y=89

#### 2. Find the area and circumferene of a circle for a given radius.
Take input as radius

##### 3. Write a program to get a name and give welcome message using input()

###### 4. Write a program to get the n to the power 5. Take input as positive value.

##### 5. Accept age as input and returns the ouput as next year age.

##### Solution

In [36]:
#1.
X=67
Y=89
X,Y=Y,X
print(X,Y)

89 67

In [37]:
#2. 
pi=3.14
r=int(input())
area=pi*r*r
circumference=2*pi*r
print(area)
print(circumference)

4
50.24
25.12

In [38]:
#3. 
name=input()
print("Hello",name)

ravi
Hello ravi

In [39]:
#4.
n=int(input())
n**5

2

32

In [40]:
#5.
age= int(input())
new_age=age+1
print("Next year age is",new_age)

34
Next year age is 35

In [41]:
print('Welcome')
print('to all')

Welcome
to all

In [43]:
# output should be in the form of 'Welcome to all'
print('welcome',end=' ')
print('to all')

welcome to all

In [44]:
print('Ben', 25, 'California',sep='--')

Ben--25--California

In [45]:
print(sep='--','Ben', 25, 'California')

SyntaxError: positional argument follows keyword argument (3904228627.py, line 1)

In [46]:
# range() function
range(4)  # values from 0 to 3 (0 to n-1)

range(0, 4)

**What happens when you multiply an integer or float by True? What happens when you multiply them by False?**
- How does the answer change if the numbers are positive or negative?
- What happens when you multiply a string by True? By False?

**Your goal is to determine what happens when you multiply a boolean by any of these data types. Specifically**

**Write a Python program to calculatethe length of a string**

#### Solution

In [13]:
print(3*True)
print(-3.1*True)
print(4*False)
print('abc'*True)
print('abc'*False)

3
-3.1
0
abc

In [14]:
str_1="Welcome to all"
len(str_1)

14

#### Strings

In [18]:
S="saturday"

In [16]:
print(dir(S))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [19]:
S.capitalize()

'Saturday'

In [21]:
S.upper()

'SATURDAY'

In [22]:
S.count('a')

2

In [23]:
## Compare 2 string objects
str_1='Welcome to our Program'
str_2='Hello World'
str_3='Welcome to our Program'

In [ ]:
### use == operator to compare 2 string objects

In [24]:
str_1==str_2

False

In [25]:
str_1==str_3

True

In [ ]:
### join two string objects 
## use  + operator to join two string objects

In [26]:
str1="hello"
str2="welcome to our program"

In [29]:
str1+' '+str2

'hello welcome to our program'

In [30]:
## use * operator to repeat the values in the string object
str_3='all programs'
str_3*3

'all programsall programsall programs'

In [31]:
### membership operators--> in, not in
## To check whether a substring exists within a string or not
## check 'a' exists in str_3 or not
'a' in str_3

True

#### String methods

Methods	Description
    upper()	                 converts the string to uppercase
    lower()	                 converts the string to lowercase
    replace()	             replaces substring inside
    find()	                 returns the index of first occurrence of substring
    rstrip()	             removes trailing characters
    split()	                 splits string from left
    startswith()	         checks if string starts with the specified string
    isnumeric()	             checks numeric characters
    index()	                 returns index of substring

In [33]:
new_string="This program has many more lines 89034 and write a new program of 123 lines to get new results"
## Count the word 'program' appeared in the given string object

In [34]:
new_string.count("program")

2

- Strings are iterables
- Strings are immutables

#### indexing and Slicing

In [36]:
S1="Welcome to our Country."

In [37]:
# extract 'm' from S1   _-> objectname[index]
S1[5]

'm'

In [38]:
#extract 'l' from S1
S1[2]

'l'

In [40]:
#slicing
#extract 'W'to 'C'
# objectname[start:end:step] (end is exclusive)
S1[0:16]

'Welcome to our C'

In [41]:
S1[:16:2]

'Wloet u '

In [42]:
S1[:]

'Welcome to our Country.'

In [ ]:
# immutable
# Change 'W' into 'S'

In [43]:
S1[0]='S'

TypeError: 'str' object does not support item assignment

In [44]:
'S'+S1[1:]

'Selcome to our Country.'

In [45]:
# add '7' into S1 in the 3rd index.
#expected output: 'Wel7come to our Country.''
S1[:3]+'7'+S1[3:]

'Wel7come to our Country.'

In [47]:
# change 'l' into '7'
S1[:2]+'7'+S1[3:]

'We7come to our Country.'

### Conditional Statements 

                - if, if else, elif,nested if

### Conditional Statements

#1) if statements

#2) if-else statements

#3) elif statements

#4) Nested if-else statements

**Python if statement is one of the most commonly used conditional statements in programming languages. It decides whether certain statements need to be executed or not. It checks for a given condition, if the condition is true, then the set of code present inside the ” if ” block will be executed otherwise not.**

#syntax: if condition:
             
             ## statements

In [48]:
# check the given number is less than 15
n=int(input())
if n<15:
    print("Given number",n,"is less than 15")

3
Given number 3 is less than 15

In [49]:
n=int(input())
if n<15:
    print("Given number",n,"is less than 15")

56

##### if-else statement 

evaluates the Boolean expression. If the condition is TRUE then, the code present in the “ if “ block will be executed otherwise the code of the “else“ block will be executed

Syntax:

If (EXPRESSION == TRUE):

        Statement (Body of the block)
        
else:

        Statement (Body of the block)

In [50]:
# write a program to check whether a given number is positive or negative
num=int(input())
if num>0:
    print("Given number",num,"is positive")
else:
    print("Given number",num,"is negative")
print("Exit")

9
Given number 9 is positive
Exit

In [51]:
num=int(input())
if num>0:
    print("Given number",num,"is positive")
else:
    print("Given number",num,"is negative")
print("Exit")

-7
Given number -7 is negative
Exit

In [52]:
num=int(input())
if num>0:
    print("Given number",num,"is positive")
else:
    print("Given number",num,"is negative")

0
Given number 0 is negative

#### elif statements

“elif” statement is used to check multiple conditions only if the given condition is false. It’s similar to an “if-else” statement and the only difference is that in “else” we will not check the condition but in “elif” we will check the condition.

Syntax:

if (condition):

        #Set of statement to execute if condition is true
elif (condition):

        #Set of statements to be executed when if condition is false and elif condition is true
else:

   #Set of statement to be executed when both if and elif conditions are false

In [55]:
## Write a program to check whether a given number is positive or negative or zero.
n=int(input())
if n==0:
    print("Given number is zero")
elif n>0:
    print("Given number is positive")
else:
    print("Given number is negative")

-7
Given number is negative

#### Nested if-else statements
Nested “if-else” statements mean that an “if” statement or “if-else” statement is present inside another if or if-else block

if(condition):

           #Statements to execute if condition is true
           if(condition):
           
                    #Statements to execute if condition is true
           #end of nested if
           
#end of if

In [ ]:
### Write a program to check whether a given number is positive or negative or zero

In [56]:
x=int(input())
if x>=0:
    if x==0:
        print("Given number is zero")
    else:
        print("Given number is positive")
else:
    print("Given number is negative")

0
Given number is zero

#### Hands -on

In [ ]:
### Write a program to check whether a given number is even or odd

In [ ]:
# Write a program to check whether a person is eligible for voting or not. (accept age from user)

In [ ]:
#Write a program to check whether a number is divisible by 7 or not.

In [ ]:
## check whether the given number is of one digited or two digited or three digited or 
#more than three digited.

In [ ]:
#Find maximum number out of given three numbers

#### Solution

In [57]:
a=int(input())
if a%2==0:
    print('even')
else:
    print('odd')

8
even

In [58]:
age=int(input())
if age>=18:
    print("eligible")
else:
    print("not eligible")

24
eligible

In [59]:
#Write a program to check whether a number is divisible by 7 or not.
n=int(input())
if n%7==0:
    print(n,'is divisible by 7')
else:
    print(n,'is not divisible by 7')

49
49 is divisible by 7

In [ ]:
n=int(input())
if n>0 and n<10:
    print ('one digit')
elif n>=10 and n<100:
    print('two digit')
elif n>=100 and n<1000:
    print('three digit')
else:
    print('more than three digited')

In [ ]:
#method 2
num=input()
length=len(num)
if length==1:
    print('one digit')
elif length==2:
    print ('two digit')
elif length ==3:
    print('three digit')
else:
    print("more than three digited")

In [60]:
n1,n2,n3=int(input()),int(input()),int(input())
if (n1>=n2) and (n1>=n3):
    print(n1,'is maximum')
elif (n2>=n1) and (n2>=n3):
    print(n2,'is maximum')
else:
    print(n3,'is maximum')

45
45
21
45 is maximum

#### Loops
  - For loop

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. Iterating over a sequence is called traversal.
Loop continues until we reach the last item in the sequence. The body of for loop is separated from the rest of the code using indentation

For loop
#syntax: for i in iterbale:
             #statements

In [61]:
s='new world'
for i in s:
    print(i)

n
e
w

w
o
r
l
d

In [62]:
# print 'hello' 3 times
for x in range(3):   # range(n)--> 0 to n-1
    print('hello')

hello
hello
hello

#### While loop

The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is true.

##### syntax: while expression:

             #statements

In [65]:
# print 'hello' 3 times
c=0
while c<3:
    print('hello')
    c=c+1  #c+=1

hello
hello
hello

In [ ]:
# write a program to find the sum of n natural numbers
#1+2+3+....+n

In [66]:
n=int(input())
sum_1=0
i=1
while i<=n:
    sum_1+=i  # sum_1=sum_1+i
    i=i+1
print(sum_1)

10
55

### Control statements (Continue, break and pass)
Control statements in python are used to control the order of execution of the program based on the values and logic

1) Break Statement:
The break statement is used to terminate the loop containing it, the control of the program will come out of that loop.

2) Continue Statement:
When the program encounters a continue statement, it will skip the statements which are present after the continue statement inside the loop and proceed with the next iterations.

3) Pass Statement:
Pass statement is python is a null operation, which is used when the statement is required syntactically

In [71]:
## break
str_1="Jigsaw-UNext"
## stop the iteration when letter is 'a'
for i in str_1:
    print(i)
    if i=='a':
        break

J
i
g
s
a

In [73]:
### Continue
## print the values 1 to 10, skip the value 6.
for i in range(11):
    if i==6:
        continue
    print(i)

0
1
2
3
4
5
7
8
9
10

In [ ]:
### pass

In [75]:
for i in range(10):
    pass

In [ ]:
#### Hands -on- Problems

Write a program that prompts the user to input a number and reverse its digits. For example, the reverse of 12345 is 54321; reverse of 5600 is 65.

Write programs to print following patterns :

1.
**********
**********
**********
**********
        
2.  
*
**
***
****
*****

In [ ]:
Write a program that display following output:

SHIFT
HIFTS
IFTSH
FTSHI
TSHIF
SHIFT

In [ ]:
assign_txt="This is the sentence with a number 56 here and 72 here"
# count how many times numbers occur in the given string object.

#### Solution

In [81]:
n=int(input("Enter positive number:"))
temp=n
rev_no=0
while temp>0:
    last_digit=temp%10  # returns last digit
    rev_no=last_digit+rev_no*10
    temp=int(temp/10)  # temp//10
print(rev_no)

Enter positive number:12345
54321

In [85]:
s='hello'
s[::-1]

'olleh'

In [86]:
#alternative method
n=int(input())
num=str(n)
result=int(num[::-1]) # reverse order num[start:end:step]
result

5600

65

In [87]:
#2.
for i in range(4):
    for j in range(10):
        print('*',end='')
    print()

**********
**********
**********
**********

In [88]:
for i in range(5):
    for j in range(i+1):
        print('*',end='')
    print()

*
**
***
****
*****

In [89]:
text='SHIFT'
for i in range(6):
    newtext=text[i:]+text[:i]
    print(newtext)

SHIFT
HIFTS
IFTSH
FTSHI
TSHIF
SHIFT

In [91]:
assign_txt="This is the sentence with a number 56 here and 72 here"
count=0
for num in assign_txt.split():
    #print(num)
    if num.isnumeric():
        count+=1
print(count)

2

### Data Structures

#### List

- An ordered sequence of values enclosed with []
- can be created by [] or list()
- mutable
- iterable
- containg multilpe data types

In [92]:
#empty list
newlist=[]
newlist1=list()

In [93]:
type(newlist)
type(newlist1)

list

In [94]:
# create a list of int values
list1=[23,67,89]
list1

[23, 67, 89]

In [95]:
# create a list of string values
list2=['hi','wel','to']
list2

['hi', 'wel', 'to']

In [96]:
# create a list of multiple data types
list3=[23,7.8,True,'hello']
list3

[23, 7.8, True, 'hello']

In [97]:
### iterable
#indexing & Slicing
#extract 7.8 from list3
list3[1]

7.8

In [98]:
list4=[12,14,16,7,83,'at','new']
#extract [14,16,7,83,'at']
list4[1:6]

[14, 16, 7, 83, 'at']

In [100]:
list_5= [2,34,5,[56,81,[43,89],61],10]
#extract [43,89]
list_5[3][2]

[43, 89]

In [101]:
#extract 89
list_5[3][2][1]

89

In [102]:
# mutable
# change 2 into 100 in list_5
list_5[0]=100
list_5

[100, 34, 5, [56, 81, [43, 89], 61], 10]

In [104]:
list_5[4]=25678
list_5

[100, 34, 5, [56, 81, [43, 89], 61], 25678]

#### List methods

In [105]:
print(dir(list_5))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [106]:
# extend
list_1=[11,2,14,10]
list_2=[10,30,20,1]
list_1.extend(list_2)

In [107]:
list_1

[11, 2, 14, 10, 10, 30, 20, 1]

In [108]:
#append
list_3=[11,2,14,10]
list_4=[10,30,20,1]
list_3.append(list_4)

In [109]:
list_3

[11, 2, 14, 10, [10, 30, 20, 1]]

In [110]:
#insert
# object.insert(index,value)
list_3.insert(1,345)
list_3

[11, 345, 2, 14, 10, [10, 30, 20, 1]]

In [111]:
#pop --> removes the element based on the index
# object.pop()--> removes the last element
# object.pop(index)
#remove 345 from list_3
list_3.pop(1)

345

In [112]:
list_3

[11, 2, 14, 10, [10, 30, 20, 1]]

In [113]:
# object.pop()--> removes the last element
list_3.pop()

[10, 30, 20, 1]

In [114]:
list_3

[11, 2, 14, 10]

In [ ]:
#remove --> removes the element based on the given value

In [115]:
#remove 14 from list_3
list_3.remove(14)
list_3

[11, 2, 10]

In [121]:
#reverse
#object.reverse()
list_3.reverse()
list_3

[10, 2, 11]

In [120]:
## sort --> arrange elements in ascending/descending order

In [122]:
list_3.sort()
list_3

[2, 10, 11]

In [124]:
#descending order (reverse=True)
list_3.sort(reverse=True)
list_3

[11, 10, 2]

In [125]:
#sorted() function & sort() method
v1=[4,1,80,12,56]

In [126]:
sorted(v1)

[1, 4, 12, 56, 80]

In [127]:
v1

[4, 1, 80, 12, 56]

In [128]:
v1.sort()

In [129]:
v1

[1, 4, 12, 56, 80]

In [ ]:
list_5= [2,34,5,[56,81,[43,89],61],10]
#remove 81

In [130]:
del(list_5[3][1])

In [131]:
list_5

[100, 34, 5, [56, [43, 89], 61], 25678]

In [132]:
### split() method on string objects --> it will return list object
dt='12-08-2023'
dt.split('-')

['12', '08', '2023']

In [133]:
## apply +, * on list objects
ls1=[12,23,12,54]
ls2=[34,6,7,8]

In [134]:
ls1+ls2

[12, 23, 12, 54, 34, 6, 7, 8]

In [136]:
ls1*3

[12, 23, 12, 54, 12, 23, 12, 54, 12, 23, 12, 54]

### Hands -on- Problems

Write a Python program to sum all the items in a list.

Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

Write a program to print the numbers of a specified list after removing even numbers from a list

#### Solution

In [137]:
items=input().split(',')
for i in range(len(items)):
    items[i]=int(items[i])
sum_1=0
for j in items:
    sum_1+=j
print(sum_1)
print(type(items))

1,3,4
8
<class 'list'>

In [138]:
words=input().split()
c=0
for i in words:
    if len(i)>1 and i[0]==i[-1]:
        c+=1
print(c)

hi nen welclew
2

In [139]:
items=input().split(',')
x=[]
for i in range(len(items)):
    items[i]=int(items[i])
for j in items:
    if j%2!=0:
        x.append(j)
print(x)

23,12,56,11
[23, 11]

In [141]:
l1=[1,2,3,4,6,6]
for i in l1:
    if i%2==0:
        l1.remove(i)
print(l1)   # remove method will not work for consecutive even numbers

[1, 3, 6]

#### Tuple

- A tuple is a sequence of items
- contains multiple data types
- created by using () or tuple()
- iterables
- immutable

In [142]:
# create tuple with multiple data type of elements
t1=()
t2=tuple()

In [143]:
type(t1)

tuple

In [144]:
type(t2)

tuple

In [147]:
t3=(4,4.5,'rare',True)
t3

(4, 4.5, 'rare', True)

In [149]:
#iterable
#indexing & slicing
t3[2]

'rare'

In [150]:
t3[1:4]

(4.5, 'rare', True)

In [151]:
#immutable
#change 4 into 400 in t3
t3[0]=400

TypeError: 'tuple' object does not support item assignment

In [152]:
t3=list(t3)  #convert tuple into list
t3[0]=400    # do changes
t3=tuple(t3) #convertr list into tuple
t3

(400, 4.5, 'rare', True)

In [153]:
print(dir(t3))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [154]:
t3.count(400)  #shift+tab--> syntax & documentation

1

### Hands - on- Problems

In [ ]:
Write a Python program to reverse a tuple.

In [ ]:
Write a Python program to remove an item from a tuple

#### Solution

In [ ]:
items=input().split()
l=[]

for i in items:
    if i.isnumeric():
        x=int(i)
        l.append(x)
    else:
        l.append(i)
t=tuple(l)

tuple(reversed(l))

In [ ]:
items=input().split()  # get multiple inputs as a list
print(items)
l=[]
for i in items:
    if i.isnumeric():
        x= int(i)
        l.append(x)
    else:
        l.append(i)
print(l)
y=int(input())   # index 
l.remove(l[y])
t=tuple(l)
t

### Dictionary

- A collection of unordered set of key:value pairs

- create it by using {} or dict()

- keys are unique. values are accessed by using keys, not by index

- mutable

- iterable

In [155]:
#create empty dict
d1={}
d2=dict()

In [156]:
print(type(d1));print(type(d2))

<class 'dict'>
<class 'dict'>

In [157]:
# create dict of integer values
d_1={'one':34,'two':56,'three':7}
d_1

{'one': 34, 'two': 56, 'three': 7}

In [158]:
#create dict of string values
d_2={'e':'new','y':'o'}
d_2

{'e': 'new', 'y': 'o'}

In [159]:
#create dict of mixed data types
d_3={'first':300,'second':'hello','third':[2,3,4]}
d_3

{'first': 300, 'second': 'hello', 'third': [2, 3, 4]}

In [160]:
d_3.keys()

dict_keys(['first', 'second', 'third'])

In [161]:
d_3.values()

dict_values([300, 'hello', [2, 3, 4]])

In [162]:
d_3.items()

dict_items([('first', 300), ('second', 'hello'), ('third', [2, 3, 4])])

In [164]:
#Convert two lists into a dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
#Expected output:
#{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [165]:
# zip() combine 2 more iterable into a single iterable paired together as tuple
# zip() --> generator function
dict(zip(keys,values))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [166]:
###iterable
#indexing &slicing
d_3

{'first': 300, 'second': 'hello', 'third': [2, 3, 4]}

In [168]:
#extract 'hello' from d_3
d_3['second']

'hello'

In [170]:
#extract 4 from d_3
d_3['third'][2]

4

In [171]:
#mutable
#change 300 into 150
d_3['first']=150
d_3

{'first': 150, 'second': 'hello', 'third': [2, 3, 4]}

In [173]:
#change 'first' into 'one'
d_3['one']=d_3.pop('first')
d_3

{'second': 'hello', 'third': [2, 3, 4], 'one': 150}

In [172]:
print(dir(d_3))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [176]:
# Check if a value exists in a dictionary
#check if value 200 exists in the following dictionary.

sample_dict = {'a': 100, 'b': 200, 'c': 300}
200 in sample_dict.values()

True

In [ ]:
#Rename key of a dictionary
#Write a program to rename a key city to a location in the following dictionary.

In [177]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

In [178]:
sample_dict['location']=sample_dict.pop('city')
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [180]:
for i in d_3:
    print(d_3[i])

hello
[2, 3, 4]
150